/* General Body Styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styling */
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}

header nav a:hover {
    color: #ddd;
}

/* Main Content Styling */
main {
    padding: 20px;
    text-align: center;
}

/* Catalogue Section Styling */
#catalogue {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
}

/* Book List Styling */
#book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adds space between images */
    justify-content: center;
}

.book, .cart-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.book img, .cart-item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.book h3, .cart-item h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.book p, .cart-item p {
    margin: 10px 0;
    color: #777;
}

.book button, .cart-item button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.book button:hover, .cart-item button:hover {
    background-color: #555;
}

.book:hover, .cart-item:hover {
    transform: scale(1.05);
}

/* Footer Styling */
footer {
    background-color: #014203;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
