div{
    text-align: center;
}

nav {
    background-color: #0a16f5;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #b7fbfb;
    color: rgba(44, 10, 98, 0.689);
    border: 10cap;
    border-radius: 40%;
}