table{
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;

}
td{
    border: 1px solid black;
    gap: 0px;
    padding: 10px;
}
th{
    border: 2px solid rgb(255, 255, 255);
    padding: 8px;
    background-color: Teal;
    color: white;
}